<script
  type="application/json"
  data-section-type="dynamic-featured-collection"
  data-section-id="{{ section.id }}"
  >
  </script>


<div class="background-emarsys">
       <div id="cart-emarsys">
       </div>
</div>