<div class="background-emarsys" style="margin: 30px 10px 0px 10px;">
  <div id="product-emarsys"></div>
</div>

<script
  type="application/json"
  data-section-type="dynamic-featured-collection"
  data-section-id="{{ section.id }}"
></script>
