<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacorp</title>
    <style>


* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url('https://cdn.shopify.com/s/files/1/0368/1363/5716/t/20/assets/bg.png?v=1721249944');
    background-position: center;
    background-size: cover;
    color: #00539b;
    font-family: Montserrat, Arial,  sans-serif;
}

.header {
    width: 100%;
    text-align: center;
}

.header>img {
    width: 30%;
}

section>h1 {
    font-weight: 800;
    font-size: 35px;
    padding-bottom: 15px;
    text-align: center;
}

.tipo {
    padding: 30px;
}

.cards_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.card{
    background: #fff;
    border-radius: 10px;
    width: 230px;
    text-align: center;
    padding: 15px 0px;
    margin: 10px;
}

.card > a > img{
   height: 180px;
}

.card > a{
    text-decoration: none;
    color: #00539b;
}
.card > a > p{
    font-size: 14px;
    padding: 10px;
}

.card > a > h5{
 font-size: 18px;
 text-transform: uppercase;
 text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px; /* Ajusta según sea necesario */
    font-weight: bold;
}




</style>
</head>

<body>
    <section class="header">
        <img src="https://cdn.shopify.com/s/files/1/0368/1363/5716/t/20/assets/header_02.png?v=1721249880">
    </section>
    <section class="tipo">
        <h1>ANALGÉSICOS</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a target="_blank"
                    href="https://farmacorp.com/products/78404501472?utm_source=landing&utm_medium=web&utm_campaign=invernol"><img
                        src="https://farmacorp.com/cdn/shop/files/78404501472_502x502.jpg?v=1714436063">

                    <h5> 1,50 BS</h5>
                    <p>TAPSIN NINOS 160MG X 16 COMP MAST PARACETAMOL</p>

                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7800004003990?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank"><img src="https://farmacorp.com/cdn/shop/files/7800004003990_502x502.jpg?v=1714442322">
                    <h5> 2,25 BS</h5>
                    <p>TAPSIN1GR X 20 COMP PARACETAMOL</p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7800004001637?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7800004001637_502x502.jpg?v=1714442316">
                    <h5> 2,78 BS</h5>
                    <p>TAPSIN MIGRANA X 10 COMP</p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7800004507825?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7800004507825_502x502.jpg?v=1714442330">
                    <h5> 2,83 BS</h5>
                    <p>TAPSIN PERIODO X 12 COMP</p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7800004507870?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7800004507870_502x502.jpg?v=1714442328">
                    <h5> 1,08 BS</h5>
                    <p>TAPSIN FORTE X 20 COMP PARACETAMOL/CAFEINA</p>
                </a>

            </div>
        </div>
    </section>

    <section class="tipo">
        <h1>RESPIRATORIO Y LOCOMOTOR</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/10611?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/10611_293x293.jpg?v=1714433274">
                    <h5> 46,50 bs</h5>
                    <p>RESFRIOLITO GOTAS X 20ML ANTIGRIPAL INFANTIL</p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/18023?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/18023_502x502.jpg?v=1714433287">
                    <h5> 0,48 bs</h5>
                    <p>RESFRIOLITO X 72 COMP MASTIC ANTIGRIPAL INFANTIL</p>
                </a>

            </div>
            <div class="card">

                <a
                    href="https://farmacorp.com/products/7770108263753?utm_source=landing&utm_medium=web&utm_campaign=invernol">
                    <img src="https://farmacorp.com/cdn/shop/files/7770108263753_502x502.jpg?v=1714440539">
                    <h5> 4,45 bs</h5>
                    <p>FLAVICOLD PLUS DIA X 60 SOB CALIENTE NARANJA</p>
                </a>

            </div>
            <div class="card">

                <a
                    href="https://farmacorp.com/products/7770108263746?utm_source=landing&utm_medium=web&utm_campaign=invernol">
                    <img src="https://farmacorp.com/cdn/shop/files/7770108263746_502x502.jpg?v=1714440539">
                    <h5> 4,45 bs</h5>
                    <p>FLAVICOLD PLUS NOCHE X 60 SOB CALIENTE S/ LIMON V+</p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7750215029985?_pos=3&_sid=a04529dff&_ss=r"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7750215029985_502x502.jpg?v=1714440003">
                    <h5> 2,07 bs</h5>
                    <p>DI NEUMOBRON X 100 TAB (ANTIGRIPAL)</p>
                </a>

            </div>




        </div>
    </section>


    <section class="tipo">
        <h1>SALUD Y OTC</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/4015630004713?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/4015630004713_502x502.jpg?v=1714437039">
                    <h5> 280,00 bs</h5>
                    <p>CINTA ACCU-CHEK ACTIVE GLUCO X 50 TIRAS
                    </p>
                </a>

            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/261012?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/261012_502x502.jpg?v=1714434017">
                    <h5> 134,90 bs</h5>
                    <p>FULL SPECTRUM X 120 TAB (TERBONOVA)
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/265112?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/265112_502x502.jpg?v=1714434028">
                    <h5> 28,90 bs
                    </h5>
                    <p>ZINC 50MG X 100 TAB (TERBONOVA)
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/264014?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/264014_502x502.jpg?v=1714434026">
                    <h5>34,00 bs</h5>
                    <p>VITAMIN C 1000MG X 100 TAB (TERBONOVA)</p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/817432011722?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/817432011722_502x502.jpg?v=1714436600">
                    <h5> 76,70 bs</h5>
                    <p>CINTAVIT FCO X 100 CAP BLANDAS (TERBONOVA)</p>
                </a>
            </div>
        </div>
    </section>


    <section class="tipo">
        <h1>ANTIALÉRGICOS</h1>
        <div class="cards_wrapper">

            <div class="card"><br><br>
                <a href="https://farmacorp.com/products/7804918501085?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918501085_502x502.jpg?v=1714442628" style=" height: 130px;">
                    <br><br>
                    <h5> 2,10 bs</h5>
                    <p>CETIRIZINA FARMACORP 10MG X 30 CAP BLANDAS V+
                    </p>
                </a>
            </div>
            <div class="card"><br><br><a
                    href="https://farmacorp.com/products/7804918410653?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918410653_502x502.jpg?v=1714442627" style=" height: 140px;">
                    <br><br>
                    <h5> 1,93 bs</h5>
                    <p>DESLORATADINA FARMACORP 5MG X 30 COMP
                    </p>
                </a>
            </div>
            <div class="card"><br><br><br><a
                    href="https://farmacorp.com/products/7804918410677?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918410677_502x502.jpg?v=1714442627" style=" height: 90px;">
                    <br><br><br><br>
                    <h5> 1,40 bs
                    </h5>
                    <p>LEVOCETIRIZINA FARMACORP 5MG X 30 COMP
                    </p>
                </a>
            </div>

        </div>
    </section>

    <section class="tipo">
        <h1>EXPECTORANTES</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7804918520185?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918520185_502x502.jpg?v=1714442630">
                    <h5> 16,63 bs</h5>
                    <p>AMBROXOL INFANTIL FARMACORP 15MG/5ML JBE X100ML V+
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7804918520192?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918520192_502x502.jpg?v=1714442633">
                    <h5>25,41 bs</h5>
                    <p> AMBROXOL ADULTO FARMACORP 30MG/5ML JBE X 100ML V+
                    </p>
                </a>
            </div>
            <div class="card">
                <a href=" https://farmacorp.com/products/7891317172428?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7891317172428_502x502.jpg?v=1714443199">
                    <h5> 53,76 bs
                    </h5>
                    <p>TORANTE 15MG/ML JBE X 200ML HEDERA HELIX
                    </p>
                </a>
            </div>

        </div>
    </section>
    <section class="tipo">
        <h1>ANTIGRIPALES</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7804918520567?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918520567_502x502.jpg?v=1714369928">
                    <h5> 2,50 bs</h5>
                    <p>SIN ACHU ANTIGRIPAL DIA FARMACORP X60 SOB LIMONADA
                    </p>
                </a>
            </div>
            <div class="card"><br><br> <a
                    href="https://farmacorp.com/products/7804918520574?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7804918520574_502x502.jpg?v=1714369948" style="height: 100px;">
                    <br><br><br>
                    <h5> 2,50 bs</h5>
                    <p>SIN ACHU ANTIGRIPAL NOCHE FARMACORP X60 SOB LIMONA
                    </p>
                </a>
            </div>
            <div class="card"> <a
                    href="https://farmacorp.com/products/331910?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/331910_502x502.jpg?v=1714434193">
                    <h5> 2,14 bs
                    </h5>
                    <p>TRIO VAL X 80 COMP (ANTIGRIPAL)
                    </p>
                </a>
            </div>
            <div class="card"> <a
                    href="https://farmacorp.com/products/7800060110496?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7800060110496_502x502.jpg?v=1714442428">
                    <h5>8,62 bs
                    </h5>
                    <p>TRIO VAL X 20 BLISTER ANTIGRIPAL 3 DIA+1 NOCHE</p>
                </a>
            </div>
            <div class="card"> <a
                    href="https://farmacorp.com/products/331929?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/331929_502x502.jpg?v=1714434194">
                    <h5> 41,18 bs</h5>
                    <p>TRIO VAL SUSP X 100ML (ANTIGRIPAL)</p>
                </a>
            </div>
        </div>
    </section>

    <section class="tipo">
        <h1>DIGESTIVO Y GÉNITO URINARIO</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7770108045526?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">
                    <img src="https://farmacorp.com/cdn/shop/files/7770108045526_502x502.jpg?v=1714440373">
                    <h5>71,50 bs </h5>
                    <p>VITAMIN D3 2000UI FCO X 120 CAP BLANDA TERBONOVA
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/817432011173?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">

                    <img src="https://farmacorp.com/cdn/shop/files/817432011173_502x502.jpg?v=1714436597">
                    <h5> 35,75 bs</h5>
                    <p>VITAMIN D3 2000UI FCO X 60 CAP BLANDA TERBONOVA
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/5902020885818?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">

                    <img src="https://farmacorp.com/cdn/shop/files/5902020885818-50_502x502.jpg?v=1717678903    ">
                    <h5>160,50 bs
                    </h5>
                    <p>ENSOLVIT 500UI/DOSIS X 20ML VITAMINA D3
                    </p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/330027?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">

                    <img src="https://farmacorp.com/cdn/shop/files/330027_293x293.jpg?v=1714434179">
                    <h5>80,47 bs
                    </h5>
                    <p>ANTIAX SUSP X180ML ANTIACIDO MAGALDRATO/SIMETIC</p>
                </a>
            </div>
            <div class="card">
                <a href="https://farmacorp.com/products/7770101006807?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">

                    <img src="https://farmacorp.com/cdn/shop/files/7770101006807_502x502.jpg?v=1714440266">
                    <h5> 10,31 bs</h5>
                    <p>FLORESTOR POLVO 250MG X 10 SOBRES SACCHAROMYCES</p>
                </a>
            </div>
        </div>
    </section>
    <section class="tipo">
        <h1>NERVIOSO</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7770101006975?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">


                    <img src="https://farmacorp.com/cdn/shop/files/7770101006975_502x502.jpg?v=1714440268">
                    <h5>70,22 bs </h5>
                    <p>NEURO VIMIN JBE X 200ML
                    </p>
                </a>
            </div>

        </div>
    </section>

    <section class="tipo">
        <h1>CARDIOVASCULAR Y SANGRE</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7770108045977?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">


                    <img src="https://farmacorp.com/cdn/shop/files/7770108045977_502x502.jpg?v=1714440380">
                    <h5>2,20 bs </h5>
                    <p>CARDIOMEGA CJA X 30 CAP BLANDAS
                    </p>
                </a>
            </div>

        </div>
    </section>
    <section class="tipo">
        <h1>ANTINEOPLÁSICO, HORMONA Y VARIOS</h1>
        <div class="cards_wrapper">
            <divc class="card">
                <a href="https://farmacorp.com/products/817432011463?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">

                    <img src="https://farmacorp.com/cdn/shop/files/817432011463_502x502.jpg?v=1714436600">
                    <h5>39,30 bs </h5>
                    <p>ECHINACEA GOLDENSEAL X 60 CAP TERBONOVA
                    </p>
                </a>
        </div>

        </div>
    </section>

    <section class="tipo">
        <h1>ANTISÉPTICOS</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/375389?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">


                    <img src="https://farmacorp.com/cdn/shop/files/375389_502x502.jpg?v=1714434324">
                    <h5>0,72 bs </h5>
                    <p>BUCALVEX FRESH 5MG X 150 COMP MENTA CLORHEXIDINA
                    </p>
                </a>
            </div>

        </div>
    </section>

    <section class="tipo">
        <h1>DERMATOLÓGICO Y SENTIDO</h1>
        <div class="cards_wrapper">
            <div class="card">
                <a href="https://farmacorp.com/products/7800060035652?utm_source=landing&utm_medium=web&utm_campaign=invernol"
                    target="_blank">


                    <img src="https://farmacorp.com/cdn/shop/files/7800060035652_502x502.jpg?v=1714442422">
                    <h5>129,10 bs </h5>
                    <p>NICO DROPS COLIRIO X 10ML (LAGRIMAS DESCONGESTION)
                    </p>
                </a>
            </div>

        </div>
    </section>

    <section class="tipo">
        <h1>VITAMINAS</h1>
        <div class="cards_wrapper">
            <div class="card"><br><br>
                <a target="_blank" href="https://farmacorp.com/products/7793640215479?utm_source=landing&utm_medium=web&utm_campaign=invernol">

                    <img src="https://farmacorp.com/cdn/shop/files/7793640215479_502x502.jpg?v=1714442120" style="height: 130px;">
                    <br><br><h5>1,58 bs </h5>
                    <p>ACTRON 400MG X 10 CAP BLANDAS IBUPROFENO
                    </p>
                </a>
            </div>

            <div class="card"> <a target="_blank" href="https://farmacorp.com/products/7793640215523?utm_source=landing&utm_medium=web&utm_campaign=invernol">
                    <img src="https://farmacorp.com/cdn/shop/files/7793640215523_502x502.jpg?v=1714442119">
                    <h5>3,01 bs </h5>
                    <p>ACTRON 600MG X 10 CAP BLANDAS IBUPROFENO
                    </p>
                </a>
            </div>
            <div class="card"> <a target="_blank" href="https://farmacorp.com/products/299531?utm_source=landing&utm_medium=web&utm_campaign=invernol">
                    <img src="https://farmacorp.com/cdn/shop/files/299531_502x502.jpg?v=1714434088">
                    <h5>2,86 bs </h5>
                    <p>ZELLAFORTE X 100 GRAG VITAMINAS/MINERALES
                    </p>
                </a>
            </div>
            <div class="card"> <a target="_blank" href="https://farmacorp.com/products/7795337901139?utm_source=landing&utm_medium=web&utm_campaign=invernol">
                    <img src="https://farmacorp.com/cdn/shop/files/7795337901139_502x502.jpg?v=1714442178">
                    <h5>3,86 bs </h5>
                    <p>TOTAL MAGNESIANO X 30 SOBRES/4.9GR EFERV MAGNESIO
                    </p>
                </a>
            </div>

        </div>
    </section>

    <section class="tipo">
        <h1>ANTIHIPERTENSIVOS</h1>
        <div class="cards_wrapper">
            <div class="card">
                <br><br><br>
                <a href="https://farmacorp.com/products/6221151577089?utm_source=landing&utm_medium=web&utm_campaign=invernol" target="_blank">
                <img class="Im" src="https://farmacorp.com/cdn/shop/files/6221151577089_502x502.jpg?v=1711135416" >
                <br><br><br>
                <h5>0,40 bs </h5>
                <p>ATENOLOL 50MG X 20 TAB FARMACORP
                </p></a>
            </div>

        </div>
    </section>
</body>

</html>