<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <style>
        html, body
        {
            width: 100%;
            margin: 0px;
            overflow-x: hidden;
        }        
        #Contenedor
        {
            width: 100%;
            background: linear-gradient(90deg, #FFFFFF 0%, #CBECFC 100%);
			color: #004581;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        #Mapa
        {
            width: 100%;
            margin: 0px;
            height: 600px;
        }
      </style>
</head>
<body>
  <div id="Contenedor" class="row justify-content-center">
    <div id="Mapa">
        <iframe src="https://www.google.com/maps/d/embed?mid=1Jgdw3XX5tBAhoXQlBa2h7bkyNt0viek&hl=es&ehbc=2E312F" width="100%" height="80%"></iframe>
    </div>
  </div>
</body>
</html>